    <!-- Back to Top -->
    {% load static %}
    <a href="#" class="btn btn-dark back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'newsapp/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'newsapp/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'newsapp/mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'newsapp/mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'newsapp/js/main.js' %}"></script>